
@{
    ViewBag.Title = "Screens";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<link href="~/Content/css/themes/base/jquery-ui.css" rel="stylesheet" />
<style type="text/css">
    .input-label {
        min-width: 90px !important;
        text-align: left;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #cccccc;
        background: #5ba432 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x !important;
        font-weight: bold;
        color: #ffffff !important;
    }
</style>



<div class="panel panel-brown">
    <div class="content-wrapper">
        <div class="bodycontent">
            <section class="panel-heading panel-brown">
                <ol class="breadcrumb">
                    <li class="panel-title pull-left"><span href="#" style="font-weight: bold;">Screen Management</span></li>
                    <li class="pull-right active">
                        @if (Session["UserTypeID"].ToString() == "0")
                        {
                        <a href="@Url.Content("~/")Home/EPGMIndex"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span></a>
                        }
                        @if (Session["UserTypeID"].ToString() == "1")
                        {
                        <a href="@Url.Content("~/")Home/Index"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span></a>
                        }
                        @if (Session["UserTypeID"].ToString() == "2" || Session["UserTypeID"].ToString() == "3" || Session["UserTypeID"].ToString() == "4")
                        {
                        <a href="@Url.Content("~/")Home/DistrictIndex"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span></a>
                        }
                        @if (Session["UserTypeID"].ToString() == "5")
                        {
                        <a href="@Url.Content("~/")Home/ProjectIndex"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span></a>
                        }
                        @if (Session["UserTypeID"].ToString() == "6")
                        {
                        <a href="@Url.Content("~/")Home/SectorIndex"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span></a>
                        }
                        @if (Session["UserTypeID"].ToString() == "7")
                        {
                        <a href="@Url.Content("~/")Home/AWCIndex"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span></a>
                        }
                    </li>
                </ol>
            </section>

            <section class="content min-height">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon input-label" id="sizing-addon2">User Type</span>
                            @Html.DropDownList("RoleID", (IEnumerable<SelectListItem>)ViewBag.Roles, new { @class = "form-control", @onchange = "BindMenuList()" })
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                    @*<div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon input-label" id="sizing-addon2">District</span>
                                @Html.DropDownList("DistrictID", new List<SelectListItem>(), new { @class = "form-control", @onchange = "BindDropDownProject()" })
                            </div>
                        </div>*@
                </div>
                <div class="clears"></div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <table id="Grid"></table>
                        @*<div aria-hidden="true" id="Popup" class="modal fade" role="dialog" aria-labelledby="popuplabel"></div>*@
                    </div>
                    <div class="col-xs-2"></div>
                </div>
            </section>
        </div>
    </div>
</div><div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <p><b>No Data found</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        if ('@Session["RoleType"]' != null && '@Session["RoleType"]' != "") {
            $('#RoleID').val('@Session["RoleType"]');
            BindMenuList();
        }
    });

    function BindMenuList() {
        debugger;
        url = '@Url.Action("GetMenus", "Users")';
        var grid = jQuery('#Grid');
        grid.jqGrid({
            url: url,
            datatype: 'json',
            height: 300,
            hoverrows: false,
            shrinkToFit: true,
            autowidth: true,
            rowNum: 1000000,
            scrollOffset: 1,
            jsonReader: { repeatitems: false },
            mtype: 'GET',
            loadonce: true,
            cmTemplate: { sortable: false },
            beforeRequest: function () {
                var postData = grid.jqGrid('getGridParam', "postData");
                $.extend(postData, { "RoleType": $("#RoleID option:selected").val() });
            },
            colNames: ['Menu Id', 'Menu Name', 'Full Access', 'No Access'],
            colModel: [
                 { name: 'MenuId', index: 'MenuId', align: 'center', hidden: true },
                    { name: 'MenuName', index: 'MenuName', align: 'left' },
                    { name: 'Enabled', index: 'Enabled', width: 130, formatter: FullAccess, align: 'center' },
                    { name: 'Enabled', index: 'Enabled', width: 130, formatter: NoAccess, align: 'center' }, ],

            loadError: function (xhr, status, error) {
                var trf = $("#Grid tbody:first tr:first")[0];
                $("#Grid tbody:first").empty().append(trf);
            },
            loadComplete: function () {
                var count = grid.getRowData().length
                if (count <= 0) {
                    $("#myModal1").modal('show');
                    $('#Grid').jqGrid("clearGridData");

                }
            }
        });
        $("#Grid").setGridParam({ datatype: 'json', page: 1 }).trigger('reloadGrid');
    }

    function FullAccess(cellvalue, options, rowObject) {
        debugger;
        if (rowObject.Enabled == true) {
            var Radio = '<input type="radio" name="F' + rowObject.MenuId + '"   Value=' + rowObject.MenuId + ' onchange="ChngeRadio(this);" checked />';
        }
        else {
            var Radio = '<input type="radio" name="F' + rowObject.MenuId + '"  Value=' + rowObject.MenuId + ' onchange="ChngeRadio(this);"  />';
        }
        return Radio;
    }

    function NoAccess(cellvalue, options, rowObject) {
        debugger;
        if (rowObject.Enabled == true) {
            var Radio1 = '<input type="radio" name="N' + rowObject.MenuId + '"   Value=' + rowObject.MenuId + ' onchange="ChngeRadio(this);"  />';
        }
        else {
            var Radio1 = '<input type="radio" name="N' + rowObject.MenuId + '"  Value=' + rowObject.MenuId + ' onchange="ChngeRadio(this);" checked  />';
        }
        return Radio1;
    }


    function ChngeRadio(e) {
        debugger; url = '@Url.Action("UpdateRole", "Users")?MenuID=' + e.value + "&RoleType=" + $("#RoleID").val() + "&rName=" + e.name;
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: "{}",
            dataType: "json",
            success: function (Result) {
                if (Result.code == "000") {
                    alert(Result.message);
                    location.href = '@Url.Action("Screens", "Users")?Type=' + $("#RoleID option:selected").val();
                }
                else {
                    alert(Result.message);
                }
            },
            error: function (Result) {
                alert(Result.message);

            }

        });

    }
</script>