
@{
    ViewBag.Title = "Bene Registrations Report";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<style type="text/css">
    /*.input-group .input-group-addon {
        background-color: #d2d6de !important;
    }*/

    #ReportViewer1_ctl05 {
        background-image: none !important;
        background-color: #ecf0f5 !important;
        border-bottom: 0px !important;
    }

    .gap {
        margin: 25px auto !important;
    }

    .content-wrapper {
        min-height: 562px !important;
    }

    .input-label {
        min-width: 90px !important;
        text-align: left !important;
    }

    .content {
        margin-top: 0px !important;
        bottom: 0px !important;
        position: relative !important;
    }
</style>
<div class="content-wrapper">

    <section class="panel-heading panel-brown">
        <div class="bodycontent">
            <ol class="breadcrumb">
                <li class="panel-title pull-left"><span href="#" style="font-weight: bold;">Beneficiary Registrations Report</span></li>
                <li class="pull-right active">
                    @if (Session["UserTypeID"].ToString() == "1")
                    {
                        <a href="@Url.Content("~/")Home/Index"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span> </a>
                    }
                    @if (Session["UserTypeID"].ToString() == "2" || Session["UserTypeID"].ToString() == "3" || Session["UserTypeID"].ToString() == "4")
                    {
                        <a href="@Url.Content("~/")Home/DistrictIndex"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span></a>
                    }
                    @if (Session["UserTypeID"].ToString() == "5")
                    {
                        <a href="@Url.Content("~/")Home/ProjectIndex"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span></a>
                    }
                    @if (Session["UserTypeID"].ToString() == "6")
                    {
                        <a href="@Url.Content("~/")Home/SectorIndex"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span></a>
                    }
                    @if (Session["UserTypeID"].ToString() == "7")
                    {
                        <a href="@Url.Content("~/")Home/AWCIndex"><i class="fa fa-dashboard"></i><span style="font-size: 14px">Dashboard</span></a>
                    }
                </li>
            </ol>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group extra-space">
                    <span class="input-group-addon input-label">Type</span>
                    @Html.DropDownList("CenterType", (IEnumerable<SelectListItem>)ViewBag.CenterType, new { @class = "form-control valid", @onchange = "ChangeCenterType()" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group extra-space">
                    <span class="input-group-addon input-label">State</span>
                    @Html.DropDownList("StateID", (IEnumerable<SelectListItem>)ViewBag.States, new { @class = "form-control", @onchange = "BindDropDownDistrict()" })
                </div>
            </div>
            <div class="col-sm-3 extra-space">
                <div class="input-group">
                    <span class="input-group-addon input-label" id="sizing-addon2">District</span>
                    @Html.DropDownList("DistrictID", new List<SelectListItem>(), new { @class = "form-control", @onchange = "BindDropDownProject()" })
                </div>
            </div>
            <div class="col-sm-3 extra-space">
                <div class="input-group">
                    <span class="input-group-addon input-label" id="sizing-addon2">Project</span>
                    @Html.DropDownList("ProjectID", new List<SelectListItem>(), new { @class = "form-control", @onchange = "BindDropDownSector()" })
                </div>
            </div>
          
        </div>

        <div class="row">
            <div class="col-sm-3 extra-space">
                <div class="input-group">
                    <span class="input-group-addon input-label" id="sizing-addon2">Sector</span>
                    @Html.DropDownList("SectorID", new List<SelectListItem>(), new { @class = "form-control", @onchange = "BindDropDownCenter()" })
                </div>
            </div>
            <div class="col-sm-3 extra-space">
                <div class="input-group">
                    <span class="input-group-addon input-label">Center</span>
                    @Html.DropDownList("CenterID", new List<SelectListItem>(), new { @class = "form-control", @onchange = "BindSSRS()" })
                </div>
            </div>
            <div class="col-sm-3 extra-space">
                <div class="input-group ">
                    <span class="input-group-addon input-label">Month</span>
                    @Html.DropDownList("ddlMonth", (IEnumerable<SelectListItem>)ViewBag.Months, new { @class = "form-control valid", req = "Req", message = "Month" })
                </div>
            </div>
            <div class="col-sm-3 extra-space">
                <div class="input-group ">
                    <span class="input-group-addon input-label">Year</span>
                    @Html.TextBox("txtYear", DateTime.Now.Year, new { @class = "form-control valid txtinput", req = "Req", message = "Year", @maxlength = "4", @onkeypress = "return IsNumeric(event);" })
                </div>
            </div>
            <div class="col-sm-3 extra-space">
                <div class="input-group ">
                    <button type="submit" class="btn btn-primary" id="btnSubmit"><i class="fa fa-save"></i>Submit</button>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="row">
                <div class="col-xs-12">
                    <iframe name="ifr" id="ifr" style="WIDTH: 100%; position: relative; border: none; align-content: center; margin-top: 25px !important; max-height: none; height: 63vh; border-radius: 0px;" scrolling="yes"></iframe>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $("#DistrictID").append(new Option("All", "0"));
        $("#ProjectID").append(new Option("All", "0"));
        $("#SectorID").append(new Option("All", "0"));
        $("#CenterID").append(new Option("All", "0"));
        //on Page Load Crrent Month to be Loaded
        var today = new Date();
        var curmon = today.getMonth() + 1;
        $('#ddlMonth').prop('selectedIndex', curmon);
        //$("#DistrictID").val('@Session["UserDistrict"]');
        //$("#DistrictID").prop("disabled", true);
        //$("#ddlMonth").prop("disabled", false);
        // $("#txtYear").attr("disabled", "disabled");

        if ('@Session["UserTypeID"]' != "0") {
            debugger;
            $("#StateID").val('@Session["UserState"]');
            $("#StateID").prop("disabled", true);
            BindDropDownDistrict();
        }

        $("#btnSubmit").click(function () {
            var date = new Date();
            if ($('#StateID').val() == "0" || $('#StateID').val() == "" || $('#StateID').val() == null) {
                alert("Please Select State");
                $('#StateID').focus();
                return false;
            }
            else if ($('#DistrictID').val() == "" || $('#DistrictID').val() == null) {
                alert("Please Select District");
                $('#DistrictID').focus();
                return false;
            }
            else if ($('#ProjectID').val() == "" || $('#ProjectID').val() == null) {
                alert("Please Select Project");
                $('#ProjectID').focus();
                return false;
            }
            else if ($('#SectorID').val() == "" || $('#SectorID').val() == null) {
                alert("Please Select Sector");
                $('#SectorID').focus();
                return false;
            }
            else if ($('#CenterID').val() == "" || $('#CenterID').val() == null) {
                alert("Please Select Center");
                $('#CenterID').focus();
                return false;
            }
            else if ($('#ddlMonth').val() == "0" || $('#ddlMonth').val() == "" || $('#ddlMonth').val() == null) {
                alert("Please Select Month");
                $('#ddlMonth').focus();
                return false;
            }
            else if (($('#ddlMonth').val() > date.getMonth() + 1) && ($("#txtYear").val() >= date.getFullYear())) {
                alert("Month Should not be greater than the Current Month");
                $('#ddlMonth').focus();
                return false;
            }
            else if ($("#txtYear").val() == "" || $("#txtYear").val() == null) {
                alert("Please Enter Year");
                $('#txtYear').focus();
                return false;
            }
            else if ($("#txtYear").val().length != "4") {
                alert("Please Enter Correct Year");
                $("#txtYear").focus();
                return false;
            }
            else if ($("#txtYear").val() > date.getFullYear()) {
                alert("Year Should not be greater than the Current Year");
                $("#txtYear").focus();
                return false;
            }
            else {
                var url = "/Report/BeneRegistrationsReport.aspx?statecode=" + $("#StateID").val() +
                          "&distcode=" + $("#DistrictID").val() + "&projectcode=" + $("#ProjectID").val() +
                          "&sectorcode=" + $("#SectorID").val() + "&awccode=" + $("#CenterID").val() +
                          "&month=" + $('#ddlMonth').val() + "&year=" + $("#txtYear").val()+ "&CenterType=" + $("#CenterType").val();

                if ('@Session["UserTypeID"]' != "" && '@Session["UserTypeID"]' != null) {
                    $('iframe#ifr').attr('src', url);
                }
                else {
                    window.top.location.href = "/Login/MainIndex";
                }
            }

        });
    });

    function Checkyear(element) {
        var date = new Date();
        if (element.value.length != "4") {
            alert("Please Enter Correct Year");
            $("#txtYear").focus();
            return false;
        }
        if (element.value > date.getFullYear()) {
            alert("Year Should not be greater than the Current Year");
            $("#txtYear").focus();
            return false;
        }
    }

    function IsNumeric(e) {
        var keyCode = e.which ? e.which : e.keyCode
        var ret = ((keyCode >= 48 && keyCode <= 57));
        return ret;
    }

    function BindDropDownDistrict() {
        debugger;

        url = '@Url.Action("GetDistricts", "Login")?StateID=' + $("#StateID").val()
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: "{}",
            dataType: "json",
            success: function (Result) {
                $("#DistrictID").empty()
                var opt = new Option("All", "0");
                $("#DistrictID").append(opt)
                for (var i = 0; i < Result.length; i++) {
                    opt = new Option(Result[i].Text, Result[i].Value);
                    $("#DistrictID").append(opt);
                }
                if ('@Session["UserTypeID"]' == "2" || '@Session["UserTypeID"]' == "3" || '@Session["UserTypeID"]' == "4" || '@Session["UserTypeID"]' == "5" || '@Session["UserTypeID"]' == "6" || '@Session["UserTypeID"]' == "7") {
                    $("#DistrictID").val('@Session["UserDistrict"]');
                    $("#DistrictID").prop("disabled", true);
                    BindDropDownProject();
                }
                else {
                    BindDropDownProject();
                }
                // BindSSRS();
            },
            error: function (Result) {

                alert("Error:Districts");

            }

        });

    }
    function BindDropDownProject() {
        debugger;
        $('#Grid').jqGrid('clearGridData');
        url = '@Url.Action("GetProjects", "Login")?DistCd=' + $("#DistrictID").val() + '&StateCode=' + $("#StateID").val() + '&CenterType=' + $("#CenterType").val()
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: "{}",
            dataType: "json",
            success: function (Result) {
                $("#ProjectID").empty()

                var opt = new Option("All", "0");
                $("#ProjectID").append(opt)
                for (var i = 0; i < Result.length; i++) {
                    opt = new Option(Result[i].Text, Result[i].Value); $("#ProjectID").append(opt);
                }
                if ('@Session["UserTypeID"]' == "5" || '@Session["UserTypeID"]' == "6" || '@Session["UserTypeID"]' == "7") {
                    $("#ProjectID").val('@Session["UserProject"]');
                    $("#ProjectID").prop("disabled", true);
                    BindDropDownSector();
                }
                else {
                    BindDropDownSector();
                }
                //BindSSRS();
            },
            error: function (Result) {
                alert("Error:Project");
            }
        });
    }

    function BindDropDownSector() {
        debugger;
        url = '@Url.Action("GetSector", "Login")?Distcode= ' + $('#DistrictID').val() + '&Project=' + $("#ProjectID").val() + '&StateCode=' + $("#StateID").val() + '&CenterType=' + $("#CenterType").val()
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: "{}",
            dataType: "json",
            success: function (Result) {
                $("#SectorID").empty()
                debugger;
                var opt = new Option("All", "0");
                $("#SectorID").append(opt)
                for (var i = 0; i < Result.length; i++) {
                    opt = new Option(Result[i].Text, Result[i].Value); $("#SectorID").append(opt);
                }
                if ('@Session["UserTypeID"]' == "6" || '@Session["UserTypeID"]' == "7") {
                    $("#SectorID").val('@Session["UserSector"]');
                    $("#SectorID").prop("disabled", true);
                    BindDropDownCenter();
                }
                else {
                    BindDropDownCenter();
                }
                //BindSSRS();
            },
            error: function (Result) {
                alert("Error:Sector");
            }
        });
    }

    function BindDropDownCenter() {
        $('#Grid').jqGrid('clearGridData');
        url = '@Url.Action("GetCenters", "Login")?Seccode= ' + $('#SectorID').val() + '&Project=' + $('#ProjectID').val() + '&StateCode=' + $("#StateID").val() + '&CenterType=' + $("#CenterType").val()
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: url,
            data: "{}",
            dataType: "json",
            success: function (Result) {
                $("#CenterID").empty()

                var opt = new Option("All", "0");
                $("#CenterID").append(opt)
                for (var i = 0; i < Result.length; i++) {
                    opt = new Option(Result[i].Text, Result[i].Value); $("#CenterID").append(opt);
                }
                if ('@Session["UserTypeID"]' == "7") {
                    $("#CenterID").val('@Session["UserCenter"]');
                    $("#CenterID").prop("disabled", true);
                }
                BindSSRS();

            },
            error: function (Result) {
                alert("Error:AWC");
            }
        });
    }

    function BindSSRS() {

        var url = "/Report/BeneRegistrationsReport.aspx?statecode=" + $("#StateID").val() +
                          "&distcode=" + $("#DistrictID").val() + "&projectcode=" + $("#ProjectID").val() +
                          "&sectorcode=" + $("#SectorID").val() + "&awccode=" + $("#CenterID").val() +
                          "&month=" + $('#ddlMonth').val() + "&year=" + $("#txtYear").val()+ "&CenterType=" + $("#CenterType").val();

        if ('@Session["UserTypeID"]' != "" && '@Session["UserTypeID"]' != null) {
            $('iframe#ifr').attr('src', url);
        }
        else {
            location.href = "/Login/MainIndex";
        }

    }
    function ChangeCenterType() {
        $("#StateID").val("0")
        $("#DistrictID").empty()

        var opt = new Option("All", "0");
        $("#DistrictID").append(opt)

        $("#ProjectID").empty()

        var opt1 = new Option("All", "0");
        $("#ProjectID").append(opt1)

        $("#SectorID").empty()

        var opt2 = new Option("All", "0");
        $("#SectorID").append(opt2)

        $("#CenterID").empty()

        var opt3 = new Option("All", "0");
        $("#CenterID").append(opt3)


    }
</script>
